<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/ico/logo.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>STechUDY</title>
  </head>

  <body>
    <link rel="stylesheet" href="static/css/style.css" />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img
            src="/static/ico/logo.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />STechUDY</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/timetable">Time-Table</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </form>
          <div class="mx-2">
            <button
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              Login
            </button>
            <button
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#signupModal"
            >
              SignUp
            </button>
          </div>
        </div>
      </div>
    </nav>

    <!-- Login Modal -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Login to STechUDY
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- SignUp Modal -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      aria-labelledby="signupModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              SignUp to STechUDY
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Confirm Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >By Ticking you subscribe with our newsletter</label
                >
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="carouselExampleCaptions"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/static/banners/Banner 1.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/static/banners/Banner 2.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container">
      <div class="container mt-5">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Timetable:</h2>

                <!-- <p class="card-text mb-auto">The Time that you used to study.</p> -->
                <p class="card-text mb-auto text-start">
                  <br />Time Management is often the foundation of numerous
                  successes, strengthen your foundation today! - “BUILD YOUR
                  TIME TABLE HERE”s
                </p>
                <a href="/timetable" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T3.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">YouTube Tutorials:</h2>
                <div class="mb-1 text-muted"></div>
                <p class="mb-auto">
                  <br />They say humans have a photographic memory and that is
                  why visual learning is often the best way to understand
                  certain concepts clearly!
                </p>
                <a href="/yt-tutorial" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="static/cards/T2.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Music:</h2>

                <!-- <p class="card-text mb-auto">The Time that you used to study.</p> -->
                <p class="card-text mb-auto">
                  <br />It is said that certain music helps with an improved
                  memory and alertness due to the constant stimulation, PICK
                  YOUR STUDY TUNE HERE :)
                </p>
                <a href="/lofi" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T6.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Pomodoro Technique:</h2>
                <div class="mb-1 text-muted"></div>
                <p class="mb-auto">
                  <br />25minute study period + 5minute break
                </p>
                <p class="mb-auto">
                  An effective way to deal with loads of work and constant
                  pressure- taking it all one interval at a time,
                </p>
                <a href="/pomodoro" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T9.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Prices:</h2>

                <!-- <p class="card-text mb-auto">The Time that you used to study.</p> -->
                <p class="card-text mb-auto">
                  <br />This would enable us to enhance the interface and
                  collective outreach at global pedestal to broden our services
                  and net-work
                </p>
                <a href="/prices" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T12.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Calculator:</h2>
                <div class="mb-1 text-muted"></div>
                <p class="mb-auto">
                  <br />A basic calculator which enables the user to perform
                  basic mathematical calculation such as addition, subtraction,
                  multiplication and division.
                </p>
                <p class="mb-auto">
                  Which would enable the user to increase the pace of their
                  calculations
                </p>
                <a href="/calculator" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T10.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Stopwatch/Timer:</h2>

                <!-- <p class="card-text mb-auto">The Time that you used to study.</p> -->
                <p class="card-text mb-auto">
                  <br />Want to know productivity periods? Want to time your
                  speed? Want to challenge yourself and set targets? We got you
                  covered!
                </p>
                <a href="/stopwatch" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T8.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Internships & Programs:</h2>
                <div class="mb-1 text-muted"></div>
                <p class="mb-auto">
                  <br />In an era which fuels competition, it is important you
                  are ready for a job even before joining into one- Explore your
                  interest and strive towards betterment!
                </p>
                <a href="/internship" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T4.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Book Recommendations:</h2>

                <!-- <p class="card-text mb-auto">The Time that you used to study.</p> -->
                <p class="card-text mb-auto">
                  <br />Do you like castles? Or long-haired princesses? Magic
                  perhaps? Hmmm… Non-Fictional? Something about Cars and Money?
                  WE HAVE IT ALL!
                </p>
                <a href="/books" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T1.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Educational News:</h2>
                <div class="mb-1 text-muted"></div>
                <p class="mb-auto">
                  <br />Aiming for a big exam and not sure about the latest
                  details? WE GOT YOU COVERED
                </p>
                <p class="mb-auto">
                  Explore Schools to Collages, Syllabuses to Exams to Ranks!
                </p>
                <a href="/edunews" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T7.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Daily Practice Tests:</h2>

                <!-- <p class="card-text mb-auto">The Time that you used to study.</p> -->
                <p class="card-text mb-auto">
                  <br />Life is all about testing and pushing yourself
                  constantly on the road to success-Why not take a test and see
                  how far the progress goes?
                </p>
                <a href="/dpt" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  width="200"
                  height="250"
                  src="/static/cards/T5.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0">Courses:</h2>
                <div class="mb-1 text-muted"></div>
                <p class="mb-auto">
                  <br />Subjective Knowledge often paves the road on how
                  Perceived & Assessed knowledge can be expressed and developed
                  so, lets focus on the worksheets for now :)
                </p>
                <a href="/courses" class="stretched-link"></a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  src="/static/cards/T13.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 2022–2023 STechUDY Company Pvt Ltd. ·</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
