<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/ico/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>News</title>
  <script src="static/js/pomodoro.js"></script>
  <script src="https://kit.fontawesome.com/996973c893.js"></script>

  <!-- Google Font -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" /> -->

</head>

<body>
  <link rel="stylesheet" href="static/css/style.css" />
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/static/ico/logo.png" alt="" width="30" height="24"
          class="d-inline-block align-text-top">STechUDY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timetable">Time-Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/edunews">Educational News</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/banners/Banner 4.png" class="d-block w-100" alt="...">

    </div>
  </div>

  <div class="container">

    <h1 class="text-center mt-5 heading">Educational News:</h1>

    <div class="container d-grid gap-2 col-6 mx-auto">

      <a class="btn btn-outline-danger" href="https://cbseit.in/cbse/2021/veer/index.aspx" target="_blank"
        role="button">Veer Gatha Project MoD</a><br><br>
      <a class="btn btn-outline-danger" href="https://www.cbse.gov.in/cbsenew/question-paper.html" target="_blank"
        role="button">CBSE SamplePapers</a><br><br>
      <a class="btn btn-outline-danger" href="https://diksha.gov.in/" target="_blank" role="button">NCERT DIKSHA
        PROJECT</a><br><br>
      <a class="btn btn-outline-danger" href="http://cbseacademic.nic.in/skill-education.html" target="_blank"
        role="button">CBSE Skill Education</a><br><br>
      <a class="btn btn-outline-danger" href="https://jeemain.nta.nic.in/webinfo2021/File/GetFile?FileId=9&LangId=P"
        target="_blank" role="button">JEE Mains Infornmation</a><br><br>
      <a class="btn btn-outline-danger" href="https://www.shiksha.com/b-tech/jee-main-exam-syllabus" target="_blank"
        role="button">JEE Mains Syllabus</a><br><br>
      <a class="btn btn-outline-danger" href="https://medicine.careers360.com/articles/neet-2022" target="_blank"
        role="button">NEET Infornmation'22</a><br><br>
      <a class="btn btn-outline-danger" href="https://www.shiksha.com/mba/articles/cat-2022-exam-blogId-70165"
        target="_blank" role="button">CAT Infornmation'22</a><br><br>
      <a class="btn btn-outline-danger" href="http://www.du.ac.in/index.php?page=syllabi" target="_blank"
        role="button">Delhi University Infornmation</a><br><br>
      <a class="btn btn-outline-danger" href="https://mu.ac.in/admission" target="_blank" role="button">Mumbai
        University Admission</a><br><br>
      <a class="btn btn-outline-danger" href="https://consortiumofnlus.ac.in/clat-2022/" target="_blank"
        role="button">CLAT Infornmation'22</a><br><br>
      <a class="btn btn-outline-danger" href="https://gate.iitkgp.ac.in/" target="_blank" role="button">GATE
        Infornmation</a><br><br>
      <a class="btn btn-outline-danger" href="https://www.collegepravesh.com/engineering-colleges/dtu-delhi/"
        target="_blank" role="button">DTU Infornmation</a><br><br>
      <a class="btn btn-outline-danger"
        href="https://www.careers360.com/university/indraprastha-institute-of-information-technology-delhi/cut-off"
        target="_blank" role="button">BITS Pilani Cut-off</a><br><br>
      <a class="btn btn-outline-danger" href="https://www.collegepravesh.com/entrance-exams/bitsat/" target="_blank"
        role="button">BITSAT Entrance</a><br><br>


    </div>
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 2022–2023 STechUDY Company Pvt Ltd. · </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

</body>

</html>